.alert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 24px;
  gap: 4px;
  width: 501px;
  height: 76px;
  background: linear-gradient(
    135deg,
    rgba(222, 67, 19, 0.2) 0%,
    rgba(222, 67, 19, 0.2) 0.75%,
    rgba(222, 67, 19, 0.2) 2.92%,
    rgba(222, 68, 20, 0.2) 6.37%,
    rgba(223, 69, 21, 0.2) 10.97%,
    rgba(223, 72, 22, 0.2) 16.59%,
    rgba(224, 75, 24, 0.2) 23.1%,
    rgba(225, 80, 27, 0.2) 30.37%,
    rgba(227, 86, 31, 0.2) 38.27%,
    rgba(229, 94, 36, 0.2) 46.66%,
    rgba(231, 104, 43, 0.2) 55.41%,
    rgba(235, 117, 51, 0.2) 64.39%,
    rgba(238, 132, 60, 0.2) 73.47%,
    rgba(243, 149, 71, 0.2) 82.52%,
    rgba(248, 169, 84, 0.2) 91.41%,
    rgba(254, 193, 99, 0.2) 100%
  );
  border-radius: 8px;
}
.alert-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 453px;
  height: 24px;
}
.limited-left {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #de4313;
}
.limited-right {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #3c4852;
}
.alert-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  box-sizing: border-box;
}
.alert-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #de4313;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 453px;
  height: 24px;
  margin-top: 12px;
}
.total-left {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3c4852;
}
.total-right {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #3c4852;
}
